.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 21vw; /* Set the width of the sidebar */
  min-width: 10vw;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1f4d2e; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 0px 0px 0px 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px; /* Add padding to links */
  text-decoration: none; /* Remove underline from links */
  font-size: 25px; /* Increase font size */
  color: #FFFFFF; 
  display: block; /* Make the links appear below each other */
}