.content {
    height: 100vh;
    width: calc(100vw - 22vw); /* Adjust width based on sidebar */
    position: relative; /* Relative positioning for content */
    background-color: #474343; /* Light background for content area */
    margin:0px;
    padding:0px;
    float: right; 
}
